{% extends "layout.html" %}
{% block before_content %}
{% endblock %}
{% block content %}
    <div class="home home-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbo">
                        <div class="text-center">
                            <h1 class="home-who-are-you">Who you are?</h1>
                            <div class="home-form">
                                <div class="row">
                                    <div class="col-sm-offset-3 col-sm-6">
                                        <form class="home-submit">
                                            <input class="form-control twitter-username" type="text" class="form-control" placeholder="@username" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="home-loading home-hide">
                                <i class="fa fa-circle-o-notch fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block after_content %}
    {% include 'footer.html' %}
{% endblock %}
