<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{ title | default('Who are you') }}</title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='vendors/font-awsome/css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/base.css')}}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/dist/js/bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}" type="text/javascript"></script>
    {% block assets_extra %}{% endblock %}
  </head>
  <body>
    {#% include 'nav.html' %#}
    {#% include 'flash.html' %#}
    {% block before_content %}{% endblock %}
    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% block content_boy %} {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
    {% block after_content %}{% endblock %}
  </body>
</html>
