{% extends "layout.html" %}
{% block before_content %}
{% endblock %}
{% block content %}
    <div class="twitter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbo">
                        <div class="text-center">
                            Please wait we are crunching data for you {{ username }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block after_content %}
    {% include 'footer.html' %}
{% endblock %}
