html, body {
  height: 100%;
  position: relative;
  border-radius: 0px!important;
  background-color: #36394c;
}

input {
  border-radius: 0px!important;
}

.home{
  background-color: #36394c;
  position: relative;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif!important;
}

.twitter-username {
  margin-top: 30px;
}

.home-who-are-you{
  font-size: 50px;
  color: #fff;
  font-weight: 300;
}

.home-middle .jumbo {
  margin-top: 20%;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.home-top .jumbo {
  margin-top: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.home-loading {
  color: #fff;
  margin-top: 20%;
  font-size: 50px;
}

.home-result {
  margin-top: 0;
}
